* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-synthesis: none;
  letter-spacing: -0.02em;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
  letter-spacing: -0.02em;
  color: #ffffff;
  background: linear-gradient(167.96deg, #8257e5 0%, #271a45 100%);
}

/* Container */

.container {
  width: 327px;
  height: 656px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

/* Title */

.title {
  font-size: 20px;
}

/* Card */

.card {
  border-radius: 24px;
  height: 544px;
  color: #000000;
  filter: drop-shadow(0px 4px 24px rgba(0, 0, 0, 0.25));
  /* box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.25); */
}

.flight-info {
  border-top-right-radius: 24px;
  border-top-left-radius: 24px;
  background: linear-gradient(0, transparent, transparent) bottom left,
    linear-gradient(0, transparent, transparent) bottom right;
  background-image: radial-gradient(
      circle at 0 100%,
      transparent 0.7rem,
      white 0.7rem
    ),
    radial-gradient(circle at 100% 100%, transparent 0.7rem, white 0.7rem);
  background-size: 50%;
  background-repeat: no-repeat;
}

.flight-info,
.passenger-info,
.boarding-info {
  padding: 24px 32px;
}
.flight-data,
.flight-locate {
  display: flex;
  justify-content: space-between;
}

.flight-locate {
  margin-top: 24px;
  position: relative;
}

.flight-locate img {
  position: absolute;
  left: calc(50% - 12px);
  top: calc(50% - 12px);
}

.locate-from {
  text-align: left;
}

.locate-to {
  text-align: right;
}

.flight-code {
  text-align: left;
}

.flight-date {
  text-align: right;
}

.title-info {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.65);
}

.info {
  font-weight: 700;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.88);
}

.info-city {
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
}

.passenger-info {
  position: relative;
  background: linear-gradient(0, transparent, transparent) top left,
    linear-gradient(0, transparent, transparent) top right,
    linear-gradient(0, transparent, transparent) bottom left,
    linear-gradient(0, transparent, transparent) bottom right;
  background-image: radial-gradient(
      circle at 0 0,
      transparent 0.7rem,
      white 0.7rem
    ),
    radial-gradient(circle at 100% 0, transparent 0.7rem, white 0.7rem),
    radial-gradient(circle at 0 100%, transparent 0.7rem, white 0.7rem),
    radial-gradient(circle at 100% 100%, transparent 0.7rem, white 0.7rem);
  background-size: 50% 50%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
}

.passenger-info::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0.7rem;
  border-top: 1px dashed rgba(0, 0, 0, 0.64);
  width: 300px;
}

.passenger-info::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0.7rem;
  border-top: 1px dashed rgba(0, 0, 0, 0.64);
  width: 300px;
}

.passenger-data {
  text-align: left;
}

.passenger-seat {
  text-align: right;
}

.boarding-info {
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: linear-gradient(0, transparent, transparent) top left,
    linear-gradient(0, transparent, transparent) top right;
  background-image: radial-gradient(
      circle at 0 0,
      transparent 0.7rem,
      white 0.7rem
    ),
    radial-gradient(circle at 100% 0, transparent 0.7rem, white 0.7rem);
  background-size: 50%;
  background-repeat: no-repeat;
}

.container-info {
  display: flex;
  justify-content: space-between;
}

.port-info {
  padding: 13.5px 0;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.port-info div:first-child .info-secondary {
  display: grid;
  place-items: center;
}

.warning-message {
  margin-top: 24px;
}

.info-secondary {
  padding: 4px 8px;
  border-radius: 8px;
  background-color: #633bbc;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
}

/* Footer */

footer {
  padding-inline: 28px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.64);
}
