* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-synthesis: none;
  font-size: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

:root {
  font-size: 62.5%;
  --purple-900: #292738;
  --purple-700: #363447;
  --purple-300: #7367f0;
  --purple-200: #a66de9;
  --purple-100: #ce9ffc;
  --orange-200: #df9780;
  --orange-100: #feb692;
  --red-500: #ea5455;
  --green-200: #81fbb8;
  --green-500: #28c76f;
  --cyan-200: #90f7ec;
  --cyan-500: #32ccbc;
  --white900: #ffffff;
  --gradient-purples: linear-gradient(
    121.94deg,
    var(--purple-100) 15.98%,
    var(--purple-300) 82.85%
  );
  --gradient-orange-purple: linear-gradient(
    121.94deg,
    var(--orange-200) 15.98%,
    var(--purple-200) 82.85%
  );
  --gradient-green: linear-gradient(
    180deg,
    var(var(--green-200)) 0%,
    var(var(--green-500)) 100%
  );
  --gradient-orange: linear-gradient(
    180deg,
    var(--red-500) 0%,
    var(--orange-100) 100%
  );
  --gradient-cyan: linear-gradient(
    180deg,
    var(--cyan-200) 0%,
    var(--cyan-500) 100%
  );
}

body {
  height: 100vh;
  display: grid;
  place-items: center;
  background-color: var(--purple-900);
  font-size: 1.6rem;
}

/* Cards top */

.container-top {
  max-width: 112rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 3.2rem;
}
.container-top * {
  margin: 0 auto;
}

.container-top .card:first-child {
  width: 29.6rem;
}

.emoji p {
  font-size: 2.4rem;
  font-weight: 600;
  color: var(--green-200);
}

.card-content.graph {
  position: relative;
}

.card-footer {
  display: flex;
  gap: 2rem;
  font-weight: 500;
  font-size: 1.4rem;
}

.card-footer span {
  font-weight: 400;
  margin-left: 1rem;
}

/* Donut */

svg {
  width: 17rem;
}

.salls path:nth-child(3) {
  stroke-dasharray: 70, 100;
  transition: all 1.7s ease;
}

.mark path:nth-child(3) {
  stroke-dasharray: 90, 100;
  transition: all 1.7s ease;
}

.percent {
  position: absolute;
  top: 33%;
  left: 30%;
  text-align: center;
  font-size: 1.3rem;
}

.percent .num {
  font-size: 3.2rem;
  font-weight: 600;
}

/* Card Bottom */

.container-bottom.card {
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container-bottom {
  margin-top: 5.8rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  gap: 3.2rem;
}

.card-day {
  margin: 0;
}

.card-day .indicador {
  font-weight: 500;
  font-size: 1.4rem;
}

.card-day .result {
  font-weight: 500;
  font-size: 2.4rem;
}

.arrow-up {
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 0.7rem solid transparent;
  border-right: 0.7rem solid transparent;
  border-bottom: 1.4rem solid var(--green-200);
}

.arrow-down {
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 0.7rem solid transparent;
  border-right: 0.7rem solid transparent;
  border-top: 1.4rem solid var(--orange-100);
}

.card-graph {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 6rem;
}

.card-graph::before {
  content: "";
  position: absolute;
  height: 0.3rem;
  width: 100%;
  top: 48.5%;
  background-color: #4a4556;
  z-index: 1;
}

.column-day {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 0.5rem;
}

.column-day-value {
  width: 1.5rem;
  height: 0;
  margin: 0 auto;
  border-radius: 1rem;
  background: var(--gradient-cyan);
  z-index: 2;
  transition: height 1s ease;
}

#dom-graph {
  height: 4rem;
}

#seg-graph {
  height: 7rem;
}

#ter-graph {
  height: 15rem;
}

#qua-graph {
  height: 17rem;
}

#qui-graph {
  height: 12rem;
}

#sex-graph {
  height: 14rem;
}

#sab-graph {
  height: 10rem;
}

/* Card */

.card {
  height: 37.9rem;
  padding: 2.9rem 4.8rem;
  border-radius: 1.6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 3.2rem;
  color: var(--white900);
  background-color: var(--purple-700);
  box-shadow: 0.3rem 0.4rem 2.6rem rgba(0, 0, 0, 0.25);
}

.card .card-content img {
  display: flex;
  margin-bottom: 1.6rem;
}

/* Classes Auxiliares */

.title {
  font-size: 2.4rem;
  font-weight: 600;
}
